<footer>
  <div class="container text-center">
      <p>
          <a target="_blank" href="https://www.facebook.com/a.batyaev"><span class="fa fa-2x fa-facebook"></span></a>
          <a target="_blank" href="https://vk.com/a.batiaev"><span class="fa fa-2x fa-vk"></span></a>
          <a target="_blank" href="https://www.linkedin.com/pub/anton-batiaev/56/998/4aa"><span class="fa fa-2x fa-linkedin-square"></span></a>
          <a target="_blank" href="skype://a_batyaev"><span class="fa fa-2x fa-skype"></span></a>
          <a target="_blank" href="mailto:anton@batiaev.com"><i class="fa fa-2x fa-envelope"></i></a>
      </p>
    <p>{{ site.copyright}}<br>{{ site.createdby }}</p>
  </div>
</footer>
