<header class="site-header">
  <div class="container">
    <a href="{{ site.baseurl }}/"><span class="site-title">{{ site.data.contact.fullname }} · {{ site.title }}</span></a>
    <nav class="site-nav">
      <div class="trigger">
        <!-- {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %} -->
        <a class="page-link" href="{{ "/archive/" | prepend: site.baseurl }}">Archive</a>
        <a class="page-link" href="https://batiaev.com/travel">Travel notes</a>
        <a class="page-link" href="https://batiaev.com">About me</a>
      </div>
    </nav>
  </div>
</header>
