.archive-list {
    margin-left: 0;
    list-style: none;
}
.btn-default .badge-info {
	background-color: $brand-info;
}
//.post-link {
//	padding: 15px 30px;
//	position:relative;
//	display: block;
//	width:50%;
//	float:left;
//}

//.post-link:hover {
//	background-color: DarkMagenta;
//	background-color: rgba(139,0,139,0.7);
//}

footer div.col-md-6 {
  padding-right: 25px;
  padding-left: 25px;
}
footer {
  color: LightGray;
  background-color: #202020;
  padding-bottom: 30px;
}
footer a,
footer a:hover,
footer a:visited {
  color: LightGray;
}
footer h3 {
  text-align: left;
  border-bottom: 1px solid darkgreen;
  padding-bottom: 5px;
}
ul.fa-ul {
  text-align: left;
}