.archive-list {
    margin-left: 0;
    list-style: none;
}
.btn-default .badge-info {
	background-color: $brand-info;
}

footer div.col-md-6 {
  padding-right: 25px;
  padding-left: 25px;
}
footer {
  color: LightGray;
  background-color: #202020;
  padding-bottom: 30px;
  padding-top: 30px;
}
footer a,
footer a:hover,
footer a:visited {
  color: LightGray;
}
ul.fa-ul {
  text-align: left;
}

.logo {
  heigth: 50px;
  width: 50px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -khtml-border-radius: 40px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin: 5px;
}

