---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <p>
    Tags <i class="fa fa-tags"></i> : 
    {% for categ in page.categories %}
    	<span class="label label-primary">{{ categ }}</span>
    {% endfor %}
  </p>
  <article class="post-content">
    {{ content }}
  </article>

  <div id="vk_comments"></div>
  <script type="text/javascript">
  VK.Widgets.Comments("vk_comments", {limit: 10, attach: "*"});
  </script>
</div>
